body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65rem;
    padding: 15px 0px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

/*-------LOGO--------*/
.logo {
    background-color: black;
    text-align: center;
    padding-top: auto;
    vertical-align: middle;
    padding: 2em;
}

.logo img {
    height: 50px;
    width: auto;
}

/*--------Header-----*/
header {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 2em;
    text-align: center;
    line-height: 1.5em;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 220%;
    color: #25a2c3;
    font-weight: bold;
    line-height: 1em;
}

header a {
    background-color: #f04c2f;
    border-radius: 5px;
    padding: 15px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
    text-decoration: none;
}

/*------Article-----*/

article {
    padding: 2em;
    line-height: 1.65em;
}

article h2 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

article img {
    text-align: center;
    border-radius: 100%;
    margin: 1em;
}

/*-----Section------*/
section {
    background-color: #e22d0e;
    margin: 2em 0em;
    color: white;
    padding: 2em;
    text-align: center;

}

section h1 {
    font-size: xx-large;
    font-weight: bold;
}

section blockquote {
    font-style: italic;
}

/*-----aside------*/
aside {
    padding: 1em;
}

aside div {
    border: 1px solid #dee1e3;
    border-radius: 2%;
    margin: 1em 1em;
}

aside h3 {
    color: #25a2c3;
    font-weight: bold;
}

aside img {
    padding-bottom: 1em;
}

aside p {
    padding: 0em 1rem 2rem 1rem;
}

/*------footer----*/
footer {
    background-color: #25a2c3;
    color: white;
    padding: 2em;
    line-height: 1.65em;
    border-bottom: 1px solid white;
}

footer h1 {
    font-size: 2em;
    font-weight: bold;
}

footer a {
    color: white;
}

footer a, address, span {
    opacity: 0.7;
}

footer span {
    padding: 1em;
}